[user]
	email = lsboecken@gmail.com
	name = Lennart Boecken
[core]
	excludesfile = /Users/lennart/.gitignore
	editor = "~/.local/nvim/bin/nvim"
[rerere]
	enabled = false
[push]
	autoSetupRemote = true
[safe]
	directory = /home/lennart/snap
[help]
	autocorrect = 1
[alias]
	lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
	lg = lg1
